 <div class="notification-popup" *ngIf="showNotificationPrompt">
  <p class="title">Enable Notifications</p>
  <p class="desc">
    Get alerts for deals, orders & updates.
  </p>

  <div class="actions">
    <button class="allow" (click)="allowNotifications()">Allow</button>
    <button class="block" (click)="blockNotifications()">No Thanks</button>
  </div>
</div>

<img
  [src]="isDarkMode ? 'assets/images/dark-f-b.png' : 'assets/images/light-f-b.png'"
  alt="Front Banner"
  class="front-banner"
/>

